$green: rgb(0, 189, 111); // greenLight
$text-dark: rgb(178, 204, 204);
$text-light: #fff;
$greenDark: rgb(0, 30, 38);
$max-width: 1400px;
$laptop: 1025px;
$tablet: 769px;
$mobile: 424px;
$headerHeight: 60px;
